
<div id="sticky-header" class="menu-area">
  <div class="container custom-container">
      <div class="row">
          <div class="col-12">
              <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
              <div class="menu-wrap">
                  <nav class="menu-nav show">
                      <div class="logo"><a href="index.html"><img src="img/logo/logo.png" alt=""></a></div>
                      <div class="navbar-wrap main-menu d-none d-lg-flex">
                          <ul class="navigation">
                              <li class="menu-item-has-children"><a [routerLink]="['/']">Home</a></li>
                              <li class="menu-item-has-children"><a [routerLink]="['/Store']">Shop</a>
                              </li>
                              <li class="menu-item-has-children"><a [routerLink]="['/posts']">lost pets</a>
                                  <ul class="submenu">
                                      <li><a [routerLink]="['/addPost']">add a lost animal</a></li>
                                      <li><a [routerLink]="['/posts']">see lost pets</a></li>
                                  </ul>
                              </li>
                              <li class="active"><a [routerLink]="['/contacts']">contacts</a></li>
                          </ul>
                      </div>
                      <div class="header-action d-none d-md-block">
                          <ul>
                            <li class="menu-item-has-children"><a [routerLink]="['/profile']" *ngIf="this.shared.profile" >profile</a>
                              <li class="header-search"><a href="#"><i class="flaticon-search"></i></a></li>
                              <li class="header-shop-cart"><a href="#"><i class="flaticon-shopping-bag"></i><span>2</span></a>
                                  <ul class="minicart">
                                      <li class="d-flex align-items-start">
                                          <div class="cart-img">
                                              <a href="#"><img src="assets/img/product/cart_p01.jpg" alt=""></a>
                                          </div>
                                          <div class="cart-content">
                                              <h4><a href="#">The King Charles Spaniel</a></h4>
                                              <div class="cart-price">
                                                  <span class="new">$229.9</span>
                                                  <span><del>$229.9</del></span>
                                              </div>
                                          </div>
                                          <div class="del-icon">
                                              <a href="#"><i class="far fa-trash-alt"></i></a>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="total-price">
                                              <span class="f-left">Total:</span>
                                              <span class="f-right">$239.9</span>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="checkout-link">
                                              <a href="#">Shopping Cart</a>
                                              <a class="black-color" href="#">Checkout</a>
                                          </div>
                                      </li>
                                  </ul>
                              </li>
                              <li class="header-btn" [routerLink]="['/login']" *ngIf="this.shared.islogged" ><a class="btn">login now <img src="img/icon/w_pawprint.png" alt=""></a></li>
                              <li class="header-btn" [routerLink]="['/login']"  *ngIf="this.shared.log" (click)="logout()"><a class="btn" >logout <img src="img/icon/w_pawprint.png" alt=""></a></li>
                          </ul>
                      </div>
                  </nav>
              </div>

        