     <header class="header default">
            <nav class="navbar navbar-static-top navbar-expand-lg header-sticky">
              <div class="container-fluid">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"><i class="fas fa-align-left"></i></button>
                <a class="navbar-brand" href="index.html">
                  <img class="img-fluid logo" src="images/logo.svg" alt="Main logo">
                  <img class="img-fluid logo-sticky" src="images/logo-dark.svg" alt="Logo responsive and sticky">
                </a>
                <div class="navbar-collapse collapse justify-content-center">
                  <ul class="nav navbar-nav">
                    <li class="nav-item dropdown active">
                      <a class="nav-link" href="javascript:void(0)" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [routerLink]="['/']">Home<i class="fas fa-chevron-down fa-xs"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                      <a class="nav-link" href="javascript:void(0)" data-bs-toggle="dropdown"  [routerLink]="['/Store']">shop<i class="fas fa-chevron-down fa-xs"></i></a>
                          
                        </li>

                   
                    <li class="dropdown nav-item">
                      <a class="nav-link" href="javascript:void(0)"  data-bs-toggle="dropdown" [routerLink]="['/posts']">find you lost pet<i class="fas fa-chevron-down fa-xs"></i></a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item"  [routerLink]="['/addPost']" >add a lost pet</a></li>
                        <li><a class="dropdown-item"  [routerLink]="['/posts']">see lost pets</a></li>
                      </ul>
                    </li>
                    <li class="dropdown nav-item">
                      <a class="nav-link" href="javascript:void(0)"  data-bs-toggle="dropdown" [routerLink]="['/profile']" *ngIf="this.shared.profile">profile<i class="fas fa-chevron-down fa-xs"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" [routerLink]="['/contacts']" >Contact Us</a>
                    </li>
                  </ul>
                </div>
                <div class="add-listing">
                  <a class="btn btn-dark btn-sm"  [routerLink]="['/login']" *ngIf="this.shared.islogged" >login Now</a>
                  <a class="btn btn-dark btn-sm"  [routerLink]="['/login']"  *ngIf="this.shared.log" (click)="logout()" >logout</a>

                </div>
              </div>
            </nav>
          </header>
