<section class="contact-area pt-110 pb-110">
    <div class="container">
        <div class="container-inner-wrap">
            <div class="row justify-content-center justify-content-lg-between">
                <div class="col-lg-6 col-md-8 order-2 order-lg-0">
                    <div class="contact-title mb-20">
                        <h5 class="sub-title">Contact Us</h5>
                        <h2 class="title">Let's Talk Question<span>.</span></h2>
                    </div>
                    <div class="contact-wrap-content">
                        <p>The domestic dog is a doiated dendant of the wolf. The dog derived from an ancient, extinct wolf, and the modern grey.</p>
                        <form action="#" class="contact-form">
                            <div class="form-grp">
                                <label for="name">Your Name <span>*</span></label>
                                <input type="text" id="name" placeholder="Jon Deo...">
                            </div>
                            <div class="form-grp">
                                <label for="email">Your Email <span>*</span></label>
                                <input type="text" id="email" placeholder="info.example@.com">
                            </div>
                            <div class="form-grp">
                                <label for="message">Your Message <span>*</span></label>
                                <textarea name="message" id="message" placeholder="Opinion..."></textarea>
                            </div>
                            <div class="form-grp checkbox-grp">
                                <input type="checkbox" id="checkbox">
                                <label for="checkbox">Don’t show your email address</label>
                            </div>
                            <button type="button" class="btn rounded-btn">Send Now</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-8">
                    <div class="contact-info-wrap">
                        <div class="contact-img">
                            <img src="../assets/img/images/contact_img.png" alt="">
                        </div>
                        <div class="contact-info-list">
                            <ul>
                                <li>
                                    <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                                    <div class="content">
                                        <p>W84 New Park Lan, New York, NY 4586 United States</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon"><i class="fas fa-phone-alt"></i></div>
                                    <div class="content">
                                        <p>+9 (256) 254 9568</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon"><i class="fas fa-envelope-open"></i></div>
                                    <div class="content">
                                        <p><a href="https://themebeyond.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="abe8c4c5dfcac8dfeb">[email&#160;protected]</a> info.com</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="contact-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>