
 <div class="col-lg-8">
                            <div class="standard-blog-item" *ngFor="let Post of Posts" >
                                <div class="standard-blog-thumb">
                                    <a href="blog-details.html"><img src="assets/img/blog/blog_thumb01.jpg" alt=""></a>
                                </div>
                                <div class="standard-blog-content">
                                    <div class="blog-post-meta">
                                        <ul>
                                            <li class="tags"><i class="flaticon-bookmark-1"></i>
                                                <a href="#">Siberian Husky , </a>
                                                <a href="#">Breed</a>
                                            </li>
                                            <li><i class="far fa-user"></i><a href="#">Admin</a></li>
                                            <li><i class="far fa-bell"></i> Mar 10, 2021</li>
                                        </ul>
                                    </div>
                                    <h2 class="title"><a href="blog-details.html">{{Post.AnimalName}}</a></h2>
                                    <p>{{Post.AnimalDescription}}</p>
                                    <a href="blog-details.html" class="read-more">Read More <img src="assets/img/icon/pawprint.png" alt=""></a>
                                </div>
                            </div>