<section class="header-inner bg-dark text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 ">
          <ol class="breadcrumb mb-0 p-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">join us </li>
          </ol>
          <h2 class="inner-banner-title">join us </h2>
        </div>
      </div>
    </div>
  </section>
<div class="container">
	<form class="form-horizontal" role="form">
		<h2>Registration Form</h2>
		<div class="form-group">
			<label for="firstName" class="col-sm-3 control-label">firs tName</label>
			<div class="col-sm-9">
				<input type="text" id="firstName" placeholder="First Name" class="form-control" (change)="name($event)" autofocus  >
				
			</div>
		</div>
		<div class="form-group">
			<label for="firstName" class="col-sm-3 control-label">Last Name</label>
			<div class="col-sm-9">
				<input type="text" id="firstName" placeholder="Last Name" class="form-control" (change)="last($event)" autofocus>
				
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-3 control-label">Email</label>
			<div class="col-sm-9">
				<input type="email" id="email" placeholder="Email" class="form-control" (change)="Email($event)">
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-3 control-label">Phone</label>
			<div class="col-sm-9">
				<input type="email" id="email" placeholder="Phone Number" class="form-control" (change)="Number($event)" >
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-3 control-label">Address</label>
			<div class="col-sm-9">
				<input type="email" id="email" placeholder="Address" class="form-control" (change)="adresss($event)" >
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-3 control-label">Password</label>
			<div class="col-sm-9">
				<input type="password" id="password" placeholder="Password" class="form-control" (change)="Psw($event)">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-9 col-sm-offset-3">
				<div class="checkbox">
					<label>
						<input type="checkbox">I accept <a href="#">terms</a>
					</label>
				</div>
			</div>
		</div> 
		<div class="form-group">
			<div class="col-sm-9 col-sm-offset-3" >
				<button type="submit" class="btn"  (click)='comp()' [routerLink]="['/login']">Register</button>
			</div>
		</div>
	</form> 
</div> 


