    <!--=================================
    banner -->
    <div class="banner-03">
        <div class="banner-frame">
          <div id="banner-frame-animation" data-imageOriginal="" data-imageDepth="assets/images/slider/home-02/02.jpg" data-horizontalThreshold="30" data-verticalThreshold="30">
              <img src="assets\images\slider\home-02\04.jpeg" alt="">
          </div>
        </div>
        <div class="banner-frame-content">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h3 class="text-white">We take care your</h3>
                <h1 class="text-white">Loving Pets</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--=================================
      banner -->
      