<!-- <footer>
  <div class="footer-top-area footer-bg">
      <div class="container">
          <div class="row justify-content-between">
              <div class="col-3">
                  <div class="footer-widget">
                      <div class="f-logo">
                          <a href="index.html"><img src="img/logo/logo.png" alt=""></a>
                      </div>
                      <div class="footer-text">
                          <p>The best overall dog DNA test Embark Breed & Health Kit (view at Chewy) which provides overall dog you.</p>
                      </div>
                      <div class="footer-contact">
                          <div class="icon"><i class="fas fa-headphones"></i></div>
                          <div class="content">
                              <h4 class="title"><a href="tel:0987654321">747-800-9880</a></h4>
                              <span>Call Now</span>
                          </div>
                      </div>
                      <div class="footer-social">
                          <ul>
                              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-2">
                  <div class="footer-widget">
                      <h4 class="fw-title">Our Policies</h4>
                      <div class="fw-link">
                          <ul>
                              <li><a href="contact.html">Privacy Policy</a></li>
                              <li><a href="contact.html">Terms and Conditions</a></li>
                              <li><a href="contact.html">Editorial Policy</a></li>
                              <li><a href="contact.html">Return Policy</a></li>
                              <li><a href="contact.html">IP Policy</a></li>
                              <li><a href="contact.html">Grievance Redressal Policy</a></li>
                              <li><a href="contact.html">Terms and Conditions</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-2">
                  <div class="footer-widget">
                      <h4 class="fw-title">Our Services</h4>
                      <div class="fw-link">
                          <ul>
                              <li><a href="breeder.html">Our Breeder</a></li>
                              <li><a href="adoption.html">Our Adoption</a></li>
                              <li><a href="contact.html">Editorial Policy</a></li>
                              <li><a href="contact.html">Return Policy</a></li>
                              <li><a href="contact.html">Grievance Policy</a></li>
                              <li><a href="contact.html">Redressal Policy</a></li>
                              <li><a href="contact.html">Contact Us</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-3">
                  <div class="footer-widget">
                      <h4 class="fw-title">Instagram</h4>
                      <div class="fw-insta">
                          <ul>
                              <li><a href="#"><img src="img/images/insta_img01.png" alt=""></a></li>
                              <li><a href="#"><img src="img/images/insta_img02.png" alt=""></a></li>
                              <li><a href="#"><img src="img/images/insta_img03.png" alt=""></a></li>
                              <li><a href="#"><img src="img/images/insta_img04.png" alt=""></a></li>
                              <li><a href="#"><img src="img/images/insta_img05.png" alt=""></a></li>
                              <li><a href="#"><img src="img/images/insta_img06.png" alt=""></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-shape"><img src="img/images/footer_shape01.png" alt=""></div>
      <div class="footer-shape shape-two"><img src="img/images/footer_shape02.png" alt=""></div>
  </div>
  <div class="copyright-area">
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <div class="copyright-text">
                      <p>Copyright &copy; 2021 Petco. All Rights Reserved.</p>
                  </div>
              </div>
              <div class="col-md-4 d-none d-md-block">
                  <div class="footer-lang">
                      <div class="dropdown">
                          <button class="dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <img src="img/icon/united-states.png" alt=""> English
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                              <a class="dropdown-item" href="index.html"><img src="img/icon/russia.png" alt="">Russia</a>
                              <a class="dropdown-item" href="index.html"><img src="img/icon/thailand.png" alt="">Thailand</a>
                              <a class="dropdown-item" href="index.html"><img src="img/icon/india.png" alt="">India</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer> -->

<footer class="footer bg-dark space-pt">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-contact-info">
          <h5 class="text-primary">Contact Information</h5>
          <p class="text-white">Give yourself the power of responsibility. Remind yourself the only thing stopping you is yourself.</p>
          <ul class="list-unstyled mb-0" style="background-image: url(images/google-map.png);">
            <li><i class="fa fa-map-signs"></i><span>594 E. Whitemarsh Street Mchenry, IL 60050</span></li>
            <li><i class="fa fa-microphone"></i><span>(123) 345-6789</span></li>
            <li><i class="fa fa-headphones"></i><span>support@sitters.com</span></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
        <div class="footer-link">
          <h5 class="text-primary">Need help?</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="faqs.html">FAQs</a></li>
            <li><a href="service.html">Our Services</a></li>
            <li><a href="about-us.html">About Us </a></li>
            <li><a href="team.html">Our Team</a></li>
            <li><a href="contact-us.html">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
        <div class="footer-link">
          <h5 class="text-primary">Sitter Services</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="service-detail.html">High school sitters</a></li>
            <li><a href="service-detail.html">College sitters</a></li>
            <li><a href="service-detail.html">Family members</a></li>
            <li><a href="service-detail.html">Mother's helpers</a></li>
            <li><a href="service-detail.html">Home Help</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <h5 class="text-primary">Subscribe Us</h5>
        <div class="footer-subscribe">
          <p class="text-white">Sign up to our newsletter to get the latest news and offers.</p>
          <form>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Email*">
            </div>
            <button type="submit" class="btn btn-white">Get Notified</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5 text-center text-md-start">
          <a href="index.html"><img class="img-fluid footer-logo" src="images/logo-light.svg" alt=""></a>
        </div>
        <div class="col-md-2 text-center my-3 mt-md-0 mb-md-0">
          <a id="back-to-top" class="back-to-top" href="#"><i class="fas fa-angle-up"></i></a>
        </div>
        <div class="col-md-5 text-center copyright text-md-end">
          <p class="mb-0 text-white"> &copy; Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="index.html"> Sitters </a> All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>