<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="col-md-3 border-right" *ngFor="let profile of profile">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
              <img class="rounded-circle mt-5" width="150px" src={{profile.imageUrl}}>
              <span class="font-weight-bold">{{state.firstName}} {{state.lastName}}</span>
              <span class="text-black-50">{{state.email}}</span>
              <span>
                   </span>
            </div>
      </div>
      <div class="col-md-5 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Profile Settings</h4>
              </div>
             
              
              <div class="row mt-3" *ngFor="let profile of profile">
                <div >
                 <div class="col-md-6" >
                     <label class="labels">Name:</label>
                     {{state.firstName}} {{state.lastName}}
                    </div>
                  <div class="col-md-12">
                      <label class="labels">
                          email:</label>{{state.email}}
                        </div>
                  <div class="col-md-12"><label class="labels">
                      Address:</label>{{state.adress}}
                </div>
                  <div class="col-md-12"><label class="labels"
                    >Phone Number</label>{{state.phoneNumber}}
                </div>

                </div>
              </div>
              <div class="mt-5 text-center">
                  <button class="btn btn-primary profile-button" type="button" [routerLink]="['/update-profile']"  > 
                       edit
                    </button>
                </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center experience"><span>create store</span><span class="border px-3 p-1 add-experience" [routerLink]="['/form-store']"><i class="fa fa-plus"></i>&nbsp;create Now</span></div><br>
          </div>
      </div>
  </div>
</div>

