<section class="header-inner bg-dark text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 ">
          <ol class="breadcrumb mb-0 p-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Shop</li>
          </ol>
          <h2 class="inner-banner-title">Shop</h2>
        </div>
      </div>
    </div>
  </section>
<section class="adoption-shop-area">
    <div class="container">
            <div class="col-lg-4 col-md-6">
                <div class="adoption-shop-item">
                    <div class="adoption-shop-thumb">
                        <img src="assets/img/product/adoption_shop_thumb03.jpg" alt="">
                        <a href="shop-details.html" class="btn">add to Cart <img src="img/icon/w_pawprint.png" alt=""></a>
                    </div>
                    <div class="adoption-shop-content">
                        <h4 class="title"><a href="shop-details.html">name of the artc</a></h4>
                        <div class="adoption-meta">
                            <ul>
                                <li><i class="fas fa-cog"></i><a href="#">category</a></li>
                                <li><i class="far fa-calendar-alt"></i> quantity</li>
                            </ul>
                        </div>
                        <div class="adoption-rating">
                            <ul>
                                <li class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </li>
                                <li class="price">Total Price : <span>price</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>