<section class="header-inner bg-dark text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 ">
          <h2 class="inner-banner-title">Shop</h2>
        </div>
      </div>
    </div>
  </section>

<!--=================================
    product -->
    <section class="space-ptb">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <div class="shop-sidebar">
                <div class="widget">
                  <div class="widget-title">
                    <h5>Filter by price</h5>
                  </div>
                  <div class="mb-3">
                  <div class="collapse show" id="price">
                    <div class="property-price-slider">
                      <input type="text" id="property-price-slider" name="example_name" value="" />
                    </div>
                  </div>
                </div>
                <div class="price-filter">
                <div class="price_label">
                  Price: <span class="from">$10 — $382</span>
                </div>
                <a class="" href="#"><i class="fas fa-filter"></i>Filter</a>
              </div>
                </div>
                <div class="widget">
                  <div class="widget-title">
                    <h5>Filter by color</h5>
                  </div>
                  <div class="custom-control form-check custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label form-label" for="customCheck2">Black, brown</label>
                    <span>(2)</span>
                  </div>
                  <div class="custom-control form-check custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label form-label" for="customCheck3">Blue</label>
                    <span>(1)</span>
                  </div>
                  <div class="custom-control form-check custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label form-label" for="customCheck4">Dark grey</label>
                    <span>(2)</span>
                  </div>
                  <div class="custom-control form-check custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label form-label" for="customCheck5">Pink</label>
                    <span>(3)</span>
                  </div>
                  <div class="custom-control form-check custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck6">
                    <label class="custom-control-label form-label" for="customCheck6">Green</label>
                    <span>(1)</span>
                  </div>
                  <div class="custom-control form-check custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck7">
                    <label class="custom-control-label form-label" for="customCheck7">Red</label>
                    <span>(1)</span>
                  </div>
                </div>
                <div class="widget">
                  <div class="widget-title">
                    <h5>Filter by size</h5>
                  </div>
                  <div class="custom-control form-check custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck8">
                    <label class="custom-control-label form-label" for="customCheck8">XS</label>
                    <span>(2)</span>
                  </div>
                  <div class="custom-control form-check custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck9">
                    <label class="custom-control-label form-label" for="customCheck9">SM</label>
                    <span>(1)</span>
                  </div>
                  <div class="custom-control form-check custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck10">
                    <label class="custom-control-label form-label" for="customCheck10">LG</label>
                    <span>(2)</span>
                  </div>
                  <div class="custom-control form-check custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck11">
                    <label class="custom-control-label form-label" for="customCheck11">XL</label>
                    <span>(3)</span>
                  </div>
                  <div class="custom-control form-check custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck12">
                    <label class="custom-control-label form-label" for="customCheck12">XXL</label>
                    <span>(1)</span>
                  </div>
                  <div class="custom-control form-check custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck13">
                    <label class="custom-control-label form-label" for="customCheck13">XXXL</label>
                    <span>(1)</span>
                  </div>
                </div>
                <div class="widget">
                  <div class="widget-title">
                    <h5>Categories</h5>
                  </div>
                  <div class="widget-categories">
                    <ul class="list-unstyled list-style mb-0">
                      <li><a href="#">Pet health</a></li>
                      <li><a href="#">Daycare insurance</a></li>
                      <li><a href="#">General surgery</a></li>
                      <li><a href="#">24 Hour care</a></li>
                      <li><a href="#">In-House pharmacy</a></li>
                    </ul>
                  </div>
                </div>
                 <div class="widget">
                  <div class="widget-title">
                    <h5>Follow on</h5>
                  </div>
                  <div class="social">
                    <ul class="list-unstyled">
                      <li><a href="#"> <i class="fab fa-facebook-f"></i> </a></li>
                      <li><a href="#"> <i class="fab fa-instagram"></i> </a></li>
                      <li><a href="#"> <i class="fab fa-twitter"></i> </a></li>
                      <li><a href="#"> <i class="fab fa-dribbble"></i> </a></li>
                    </ul>
                  </div>
                </div>
                <div class="widget">
                  <div class="widget-title">
                    <h5>Tags</h5>
                  </div>
                  <div class="tagcloud">
                    <ul class="list-unstyled">
                      <li><a href="#">Dog food</a></li>
                      <li><a href="#">Baby & toddler toys</a></li>
                      <li><a href="#">Electronics for kids</a></li>
                      <li><a href="#">Dog leashes</a></li>
                    </ul>
                  </div>
                </div>
                <div class="bg-holder px-4 py-5" style="background-image: url(images/service/shop-04.jpg);">
                <span>Accessories</span>
                <h2>SALE</h2>
                  <a href="#" class="btn btn-primary btn-sm mt-2">Click Here</a>
              </div>
              </div>
            </div>
            <div class="col-lg-9 mt-5 mt-lg-0">
              <h5 class="mb-4">Product filters</h5>
              <div class="row">
                <div class="col-lg-4">
                  <input type="search" id="shop-filter-search" class="search-field mb-3" placeholder="Search products…" value="" name="s">
                </div>
                <div class="col-lg-4">
                  <div class="mb-3 select-border">
                      <select class="form-control basic-select">
                        <option value="1" selected="selected">Accessories</option>
                        <option value="3">Belts</option>
                        <option value="4">Chair</option>
                        <option value="2">Stick</option>
                      </select>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="mb-3 select-border">
                      <select class="form-control basic-select">
                        <option value="1" selected="selected">Any rating</option>
                        <option value="2">5 Star</option>
                        <option value="3">4 Star</option>
                        <option value="4">3 Star</option>
                        <option value="5">2 Star</option>
                        <option value="6">1 Star</option>
                      </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                    <div class="mb-3 select-border">
                        <select class="form-control basic-select">
                          <option value="1" selected="selected">Any color</option>
                          <option value="1">Black, brown</option>
                          <option value="2">Blue</option>
                          <option value="3">Dark grey</option>
                          <option value="4">Green</option>
                          <option value="5">Pink</option>
                          <option value="6">Red</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3 select-border">
                    <select class="form-control basic-select">
                      <option value="1" selected="selected">Any size</option>
                      <option value="2">L</option>
                      <option value="2">M</option>
                      <option value="3">S</option>
                      <option value="4">XS</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row my-2 align-items-center">
                <div class="col-lg-8">
                      <p>Showing all 2 results</p>
                    </div>
                    <div class="col-lg-4">
                      <div class="mb-3 select-border">
                          <select class="form-control basic-select">
                            <option value="1" selected="selected">Default sorting</option>
                            <option value="2">Sort by popularity</option>
                            <option value="3">Sort by average rating</option>
                            <option value="4">Sort by latest</option>
                          </select>
                      </div>
                    </div>
              </div>
              <div class="row" >
                <div class="product" >
                  <div class="v" >
                    <div *ngFor="let item of Items">
                  <div class="product-image" >
                     <img class="img-fluid mx-auto" src={{item.ItemImage}} alt="">
                     <div class="product-overlay">
                       <div class="add-to-cart">
                         <a href="shop-cart.html">add to cart</a>
                       </div>
                     </div>
                   </div>
                   <div class="product-description" >
                     <div class="product-title">
                        <a href="shop-single.html"> {{item.ItemDescription}} </a>
                     </div>
                     <div class="product-rating">
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star-half-alt"></i>
                       <i class="far fa-star"></i>
                     </div>
                     <div class="product-price">
                      <ins> price:{{item.ItemPrice}}$</ins>
                     </div>
                 </div>
                </div>
                </div>
              </div>
              
              </div>
            </div>
          </div>
        </div>
   
      <!--=================================
      product -->