<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Store Registration</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Store Name</label><input type="text" class="form-control" placeholder="enter store name" value=""></div>
                    <div class="col-md-12"><label class="labels">Store Logo</label><input type="file" class="form-control" ></div>
                    
                    <div class="col-md-12"><label class="labels">Tax Registration Number</label><input type="text" class="form-control" placeholder="enter text registration number" value=""></div>
                    <div class="col-md-12"><label class="labels">Tax Registration Image</label><input type="file" class="form-control" ></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Send</button></div>
            </div>
        </div>
    </div>
</div>
