<div class="container">
	<div class="row">
	    
	    <div class="col-md-8 col-md-offset-2">
	        
    		<h1>Create post for your pets </h1>
    		
    		<form action="" method="POST">
    		    
    		    <div class="form-group has-error">
    		        <label for="slug">name of your pets <span class="require"></span> </label>
    		        <input (change)="name($event)" type="text" class="form-control" placeholder="put the name" name="slug" />
    		   
    		    </div>
    		    
    		    <div class="form-group">
    		        <label for="title">age for ytour pets <span class="require"></span></label>
    		        <input (change)="Age($event)" type="text" class="form-control" placeholder="put the age exp : 12 months" name="title" />
    		    </div>
                <div class="form-group">
    		        <label for="title">race for ytour pets <span class="require"></span></label>
    		        <input (change)="Race($event)"  type="text" class="form-control" placeholder="put the race of your pets " name="title" />
    		    </div>
    		    <!-- <div class="form-group">
    		        <label for="description">Description</label>
    		        <textarea (change)="description($event)" rows="5" class="form-control" name="description" ></textarea>
    		    </div> -->
                <div class="form-group">
    		        <label for="title">img for ytour pets <span class="require"></span></label>
    		        <input (change)="image($event)"  type="file" (change)="upload($event)" class="form-control"   name="title" />
    		    </div>
                <button  (click)="uploadImage()">upload my image </button>

    		   
    		    
    		    <div class="form-group">
    		        <button type="submit" (click)=" addpets()" class="btn btn-danger">
    		            Create
    		        </button>
    		    </div>
    		    
    		</form>
		</div>
		
	</div>
</div>