<form class="addPost">
  <div class="check">
    <div class="form-check">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="defaultCheck1"
        />
        <label class="form-check-label" for="defaultCheck1">
          I lost My pet
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="defaultCheck2"
          disabled
        />
        <label class="form-check-label" for="defaultCheck2">
          I found a lost pet
        </label>
      </div>
      <div>
        <select class="form-control">
          <option>DOG</option>
          <option>Cat</option>
          <option>Other</option>
        </select>
      </div>
    </div>
    <div class="postinput">
      <form class inputs>
        <div class="form-group">
          <label for="formGroupExampleInput" name="AnimalName"> Pet Name</label>
          <input
            type="text"
           (change)="name($event)"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="enter the Pet Name"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            (change)="description($event)"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput"> Localisation</label>
          <input
            type="localisation"
            (change)="localisation($event)"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="enter the Localisation of the area of the lost pet"
          />
        </div>
      </form>
      <form>
        <div class="form-group">
          <label for="exampleFormControlFile1">Upload your pet image </label>
          <input
            type="file"
            (change)="upload($event)"
            class="form-control-file"
            id="exampleFormControlFile1"
          />
          <button (click)="uploadImage()">upload my image </button>
        </div>
      </form>
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary btn-block" (click)=" Addpost()">Add post </button>
  </div>
</form>
