<div class="container rounded bg-white mt-5 mb-5">
    <div class="row" *ngFor="let profile of profile">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src={{profile.imageUrl}}>
             

                <span class="font-weight-bold">{{profile.firstName}} {{profile.lastName}}</span><span class="text-black-50">{{profile.email}}  </span><span>{{profile.phoneNumber}}</span></div>
            </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings  </h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">first Name</label><input [(ngModel)]= "profile.firstName" type="text" class="form-control" placeholder="first name" value={{profile.firstName}}>
                    </div>
                    <div class="col-md-6">
                        <label class="labels">last Name</label><input [(ngModel)]= "profile.lastName" type="text" class="form-control" value={{profile.lastName}} placeholder="surname">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">
                            Email
                        </label>
                        <input [(ngModel)]= "profile.email" type="text" class="form-control" placeholder="enter phone number" value={{profile.email}}>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Address</label>
                        <input [(ngModel)]= "profile.adress"  type="text" class="form-control" placeholder="enter address line 1" value={{profile.adress}}>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Phone Number</label><input [(ngModel)]= "profile.phoneNumber" type="text" class="form-control" placeholder="enter address line 2" value={{profile.phoneNumber}}>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                          <input type="file" (change) = 'uplode($event)' class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01">
                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                      </div>
                      <button (click) = 'uploadThumbnail()'>change image</button>

                  
                </div>
                <div class="mt-5 text-center"><button (click)="update()" class="btn btn-primary profile-button" type="button" routerLink="/profile" >Save Changes</button></div>
            </div>
        </div>

    </div>
</div>