<div class="container rounded bg-white mt-5 mb-5">
    <div class="row" *ngFor="let profile of profile">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src={{imageUrl}}>
             

                <span class="font-weight-bold">{{firstName}} {{lastName}}</span>
                <span class="text-black-50">{{email}}  </span>
                <span class="text-black-50">{{adress}}  </span>
                <span>{{phoneNumber}}</span>
            </div>
            </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">
                        Profile Settings  
                    </h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">
                            first Name
                        </label>
                        <input [(ngModel)]= "firstName" type="text" class="form-control" placeholder="first name" value={{firstName}}>
                    </div>
                    <div class="col-md-6">
                        <label class="labels">
                            last Name
                        </label>
                        <input [(ngModel)]= "lastName" type="text" class="form-control" value={{lastName}} placeholder="surname">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">
                            Email
                        </label>
                        <input [(ngModel)]= "email" type="text" class="form-control" placeholder="enter phone number" value={{email}}>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">
                            Address
                        </label>
                        <input [(ngModel)]= "adress"  type="text" class="form-control" placeholder="enter address line 1" value={{adress}}>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">
                            Phone Number
                        </label>
                        <input [(ngModel)]= "phoneNumber" type="text" class="form-control" placeholder="enter address line 2" value={{state.phoneNumber}}>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupFileAddon01">
                              Upload
                            </span>
                        </div>
                        <div class="custom-file">
                          <input type="file" (change) = 'uplode($event)' class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01">
                          <label class="custom-file-label" for="inputGroupFile01">
                              Choose file
                            </label>
                        </div>
                      </div>
                      <button (click) = 'uploadThumbnail()'>change image</button>

                  
                </div>
                <div class="mt-5 text-center">
                    <button  class="btn btn-primary profile-button" type="button" (click)='updateProfile()' routerLink="/profile" >Save Changes</button>
                </div>
            </div>
        </div>

    </div>
</div>